{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    <title>Complete order - Markreate</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center links">
        <div class="user-card" style="display: flex; justify-content: center; flex-direction: column; width: 450px">
            <div class="d-flex justify-content-center links">
                <h1>Complete order</h1>
            </div>
            <div class="d-flex justify-content-center">
                <form enctype="multipart/form-data" method="post" action="">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" name="Complete" style="margin-top: 10px">
                </form>
            </div>
        </div>
    </div>
{% endblock %}