{% extends 'base.html' %}

{% block title %}
    <title>Orders received - Markreate</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h2>Welcome, {{ user.username }}</h2>
            <p>Here are your received orders:</p>
            <div class="row">
                {% for order in orders %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.service.title }}</h5>
                                <p class="card-text">Date: {{ order.date_ordered }}</p>
                                <p class="card-text">Completed: {{ order.completed}}</p>
                                {% if not order.completed %}
                                    <p class="card-text">Complete order:</p>
                                    <a href="{% url 'complete_order' order.id %}" class="btn btn-primary">Complete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <li class="list-group-item">You haven't received any orders yet.</li>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
