{% extends 'base.html' %}

{% block title %}
    <title>Your Orders - Markreate</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h2>Welcome, {{ user.username }}</h2>
            <p>Here are your orders:</p>
            <div class="row row-cols-1 row-cols-md-3">
                {% for order in orders %}
                    <div class="col mb-4" style="margin-bottom: 10px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.service.title }}</h5>
                                <p class="card-text">Date: {{ order.date_ordered }}</p>
                                <p class="card-text">Completed: {{ order.completed}}</p>
                                <p class="card-text">Credit Card number: {{ order.PaymentCard.card_number }}</p>
                                {% if order.completed %}
                                    <p class="card-text">Download your file:</p>
                                    <a href="{% url 'download' order.id %}" class="btn btn-primary" style="margin-bottom: 15px">Download</a>
                                    <p class="card-text">Rate the service:</p>
                                    <a href="{% url 'rate' order.service.id %}" class="btn btn-primary" style="margin-bottom: 15px">Rate</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <li class="list-group-item">You haven't added any services yet.</li>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
