{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    <title>Contact Us - Markreate</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center links">
        <div class="user-card" style="display: flex; justify-content: center; flex-direction: column; width: 450px">
            <div class="d-flex justify-content-center links">
                <h1>Contact Us</h1>
            </div>
            <div class="d-flex justify-content-center">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Submit" name="Contact" style="margin: 10px" class="btn btn-primary">
                </form>
            </div>
            <p>Contact us per email: <a href="mailto:info@example.com">matteo.lotti3@stud.unifi.it</a></p>

            <p>Phone number: 0123456789</p>

            <p>Social media:
                <a href="https://www.facebook.com/">Facebook</a>
                <a href="https://www.twitter.com/">Twitter</a>
                <a href="https://www.instagram.com/">Instagram</a>
            </p>
        </div>
    </div>



{% endblock %}