{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load auth_extras %}

{% block title %}
    <title>Home - Markreate</title>
{% endblock %}

{% block content %}
    <section class="hero bg-light py-5">
        <div class="container text-center">
            <h1>Welcome to Markreate</h1>
            <p class="lead">Find the perfect freelancers for your projects</p>
            {% if not request.user|has_group:"Sellers Group" %}
            <p>or become a seller yourself!</p>
            <a href="{% url 'becomeSeller' %}" class="btn btn-light btn-lg" style="background-color: #70D0B0">Become a seller</a>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row" style="margin: 15px">
                <div class="col-md-6">
                    <h2>What is Markreate?</h2>
                    <p>Markreate is a platform where you can find freelancers that make your ideas come true or become a
                        freelancer yourself.</p>
                </div>
                <div class="col-md-6">
                    <h2>How does it work?</h2>
                    <p>As a seller you can offer a service and sell your services. As a buyer you can buy services from
                        sellers.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row" style="margin: 15px">
                <div class="col-md-6">
                    <h1>Services</h1>
                </div>
                <div class="col-md-6" style="justify-content: right ">
                    <form method="post" action="{% url 'search'%}">
                        {% csrf_token %}
                        <label>
                            <input type="search" name = "searched" placeholder="Search services">
                        </label>
                        <input type="submit" value="Search" class="btn btn-primary">
                        <a href="{% url 'order_by_price'%}" class="btn btn-primary"><img src="{% static 'icons/reshot-icon-arrow-up-ZGEKU95YAJ.svg' %}"></a>
                    </form>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3">
                {% for service in services %}
                    <div class="col mb-4" style="margin-bottom: 10px">
                        <div class="card" >
                            <img src={{ service.image.url }} class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ service.title }}</h5>
                                <p class="card-text">{{ service.description }}</p>
                                <p class="card-text">{{ service.price }} €</p>
                                <img src="{{ service.seller.profile_pic.url }}" alt="" width="50px" height="auto">
                                <p class="card-text">{{ service.seller.user.username }}</p>
                                <a href="{% url 'service' service.id %}" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
