{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}

{% block title %}
    <title>{{ service.title }} - Markreate</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>{{ service.title }}</h3>
                <div>
                    <p>Created by: {{ seller.username }}</p>
                    <img src="{{ service.seller.profile_pic.url }}" alt="" width="50px" height="auto">
                    <a href="{% url 'view_profile' seller.id %}" class="btn btn-primary" style="margin: 10px">View profile</a>
                </div>
                <img src="{{ service.image.url }}" alt="" width="100%" height="auto" style="margin: 10px">
                <p>Description: {{ service.description }}</p>
                <p>Price: € {{ service.price }}</p>
                <a href="{% url 'order' service.id %}" class="btn btn-primary" style="margin: 10px">Buy</a>
                <h5>Reviews:</h5>
                {% for review in reviews %}
                    <p style="margin-bottom: -5px">By:</p>
                    <a href="{% url 'view_profile' review.customer.user.id %}">{{ review.customer.user.username }}</a>
                    <p style="margin-bottom: -5px">Rating: </p>
                    {% for i in "12345" %}
                        {% if i|to_int <= review.rating %}
                        <img src="{% static 'icons/star.svg' %}" width="20px" height="auto">
                        {% else %}
                        <img src="{% static 'icons/not-star.svg' %}" alt="" width="20px" height="auto">
                        {% endif %}
                    {% endfor %}
                    <p>Comment: {{ review.text }}</p>
                {% empty %}
                    <h6>No reviews yet</h6>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}